body {
    font-family: Arial, sans-serif;
    background-color: #e77a0e;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.resume {
    background-color: #98b6ac88;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.personal-info {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
    
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}



button{
    background-color: #e77a0e;
    color: #fff;
    border-radius: 2px;
    font-size: large;
    font-style: initial;
    justify-items: center;
    
}
div{
    text-align: center;
    
}
a{
    text-decoration: none;
    color: #0e0801;
}

